@import "variables";

html {
  font-size: calc(100vw / 1440);
  color: var(--secondary-color);

  @media (width <= $mob) {
    font-size: calc(100vw / 567);
  }
}

.wrapper {
  min-height: 100%;
}



