:root{
  --min-width: 320px;
}

//breakpoints:
$mob: 567px;
$desktop: 568px;
$desktop-xs: 1023px;
$desktop-s: 1024px;
$desktop-x: 1199px;
$desktop-l: 1200px;
$desktop-xl: 1439px;
$desktop-xxl: 1440px;


