@import "@/styles/variables/breakpoints";

.containerModBreed{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600rem;
  @media (width <= $mob) {
    width: 100%;
  }
}

.swiperWrapper{
  height: 400rem;
}