@import "@/styles/variables/breakpoints";

.containerMod{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.swiperWrapper{
  margin: 12rem -64rem 0;
  height: 400rem;
  @media (width <= $mob) {
    margin: 12rem -24rem 0;
  }
}